table{
  width: 100%;
}

.box{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tableBoxLeft{
  width: 45%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}

.tableBoxRight{
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.space {
  flex: 1 1 auto;
}

.icon-button{
  color: purple;
}

.form {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 0.2;
  margin-top: 8px;
}

.container {
  display: flex;
  flex-direction: column;
}
